{% extends 'user/base.html' %}

{% set active_page = "images" %}

{% block title %}浏览图片{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <i class="fas fa-images"></i> 图片浏览
            <small class="text-info">您共有图片{{ g.userinfo.image_count }}张</small>
        </div>
        <div class="card-body">
            <div id="image-box">
                {% for image in images %}
                    <div class="box">
                        <div class="image-container">
                            <img src="{{ image.image_path }}">
                        </div>
                        <p class="filename">{{ image.path.rsplit('/', 1)[1] }}</p>
                        <div class="custom-control custom-checkbox image-select image-button">
                            <input type="checkbox" class="custom-control-input" id="img-select{{ image.id }}"
                                   name="img-select">
                            <label class="custom-control-label" for="img-select{{ image.id }}"></label>
                        </div>
                        <i class="fas fa-trash fa-fw image-delete image-button"></i>
                        <i class="fas fa-info-circle fa-fw image-info image-button"
                           onclick="show_img_info({{ image.id }})"></i>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" id="img-info">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">图片信息</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-info">二维码</p>
                        </div>
                        <div class="col-md-9">
                            <p>图片大小：<code>1235KB</code></p>
                            <p>上传时间：<code>2019</code></p>
                            <p>图片地址：</p>
                            <div class="input-group">
                                <input value="asfgafghfg" class="form-control"/>
                                <div class="input-group-append">
                                    <button class="btn btn-success copy">复制</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ext_css %}
    <style>
        #image-box {
        }

        #image-box .image-container {
            height: 100px;
            margin-top: 10px;
            cursor: pointer;
        }

        #image-box .box {
            text-align: center;
            transition: all 0.3s;
            display: inline-block;
            width: 128px;
            height: 180px;
            margin: 4px;
            padding: 4px;
            position: relative;
        }

        #image-box .box img {
            max-height: 100%;
            max-width: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        }

        #image-box p.filename {
            text-align: center;
            padding-top: 6px;
            font-size: 12px;
            word-break: break-all;
            color: #555;
        }

        #image-box .image-info {
            position: absolute;
            right: 8px;
            bottom: 8px;
            color: rgb(0, 123, 255);
        }

        #image-box .image-delete {
            position: absolute;
            right: 32px;
            bottom: 8px;
            color: red;
        }

        #image-box .image-select {
            position: absolute;
            left: 8px;
            bottom: 4px;
        }

        #image-box .box .image-button {
            visibility: hidden;
            cursor: pointer;
        }

        #image-box .box:hover {
            background-color: #eee;
        }

        #image-box .box:hover .image-button {
            visibility: visible;
        }

        #image-box .box.active .image-button {
            visibility: visible;
        }

        #image-box .box.active {
            background-color: #eee;
        }

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/viewerjs/dist/viewer.min.css') }}"/>
{% endblock %}

{% block ext_js %}
    <script src="{{ url_for('static', filename='vendor/viewerjs/dist/viewer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-viewer/dist/jquery-viewer.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#image-box').viewer({});
            $('input:checked').each(function (index) {
                console.log(index)
                $(this).parents('.box').addClass('active');
            });
            $('.image-select').change(function () {
                if ($(this).children('input').is(':checked')) {
                    $(this).parents('.box').addClass('active');
                } else {
                    $(this).parents('.box').removeClass('active');
                }
            })
        });

        function show_img_info(img_id) {
            $.get("{{ url_for('.get_img_info') }}", {img_id: img_id}, function (ret) {
                if (ret.err === 0) {
                    $('#img-info').modal("show");
                }
            })
        }
    </script>
{% endblock %}